<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TOYCAR - Classic Cars</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
{% include 'navbar.html' %}

<div class="container my-5 text-center">
    <h1>Your order is on the way!</h1>
    <p>Thank you for shopping with us.</p>
    <a href="{% url 'shop' %}"><u><i>Continue shopping</i></u></a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>